<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2>Hi {{user_name}}</h2>
        <p>Forgetting password is nothing but natural. Please click on the below link to update your password: </p> <br>
        

        <a style="color:#FF2d2d" href="http://localhost:9999/pre/login/(pR:resetPassword)?prk={{forgot_pwd_key}}&email={{email_id}}"><br>Reset my password</a><br>
        <!-- <a style="..." href="https://www.ghdbfy.com/pre/login/(pR:resetPassword)?prk={{forgot_pwd_key}}&email={{email_id}}"><br>Reset my password</a><br>  -->
        <p>For password reset through mobile please use {{fpotp}} as your One Time Password</p>
        <!--<a style="color:orange" href="http://localhost:9999/register2?prk={{forgot_pwd_key}}&fn={{first_name}}&ln={{last_name}}&email={{email_id}}"><br>Reset my password</a><br>-->
       <p>Wishing you in your journey to make your life exemplary!<br>
        Thank you!<br>
        Support Center<br>
        genericfrontend.com</p>
    </body>
</html>
