<!DOCTYPE html>
<html>
<head>
</head>
<body>
<!--<h2>Hi {{user_name}}</h2>-->
<h2>Hi </h2>
<p>User has invited you to join genericfrontend. Please verify your email by clicking  on the "Verify Me" below: </p> <br>



<!-- <a style="..." href="http://localhost:9999/pre/login/(pR:register)?ak={{activation_key}}&fn={{first_name}}&ln={{last_name}}&email={{email_id}}"><br>Verify Me</a><br> -->
<!-- <a style="..." href="https://www.ghdbfy.com/pre/login/(pR:register)?ak={{activation_key}}&fn={{first_name}}&ln={{last_name}}&email={{email_id}}"><br>Verify Me</a><br> -->
<!--<a style="..." href="http://localhost:9999/pre/login/(pR:register)?ak={{activation_key}}&fn={{first_name}}&ln={{last_name}}&email={{email_id}}"><br>Verify Me</a><br>-->
<a href="https://akstagefe.com/invited?email={{email_id}}"><br/>Verify Me</a><br/>

<!--        <p>If you registered through our mobile app then please use {{mobile_otp}} as your the One Time Password in the mobile app to verify your email address.</p>-->
<p>Wishing you in your journey to make your life exemplary!<br>
    Thank you!<br>
    Support Center<br>
    genericfrontend.com</p>
</body>
</html>