<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2>Hi {{user_name}}</h2>
        <p>Thank you for registering with genericfrontend. Please reset your password when you login via our website: </p> <br>
        <p>Your current Password is {{password_key}}, if you login via genericfrontend for the first time  </p> <br>
        <p>Wishing you in your journey to make your life exemplary!<br>
        Thank you!<br>
        Support Center<br>
        genericfrontend.com</p>
    </body>
</html>
